<nav class="container">

    <LinkTo @route="index">
        Home?
    </LinkTo>

    <LinkTo @route="about">
        Me?
    </LinkTo>

    <LinkTo @route="projects">
        Experience?
    </LinkTo>

    <LinkTo @route="projects">
        Projects
    </LinkTo>

    <LinkTo @route="contact">
        Contact
    </LinkTo>

</nav>


{{!-- needs class for nav, linktos --}}