<article>

    <Project::Image
        src="/assets/project-displays/kymberlylarson_trainFinal2.png"
        alt="A picture of a project"
    />

    {{!-- Let user click on image to make it bigger and show the below details --}}

    <div>
        Project Name Here
    </div>

    <div>
        Description 
        (project purpose, description, date)
        (software, languages, tools, etc.)
    </div>

</article>