<div
    class="footer-container"
>
    
    <Icon
        @url="https://github.com/Snazzwaggler"
        @icon_image="/assets/logos/github/github-mark-white.png"
        alt="Github Logo"
    />

    <Icon
        @url="https://www.linkedin.com/in/kymberly-larson/"
        @icon_image="/assets/logos/linkedin/In-White-128.png"
        alt="Github Logo"
    />

</div>
