<nav class="container">

        <LinkTo 
            @route="index"
            class="item"
        >
            Home
        </LinkTo>
        
        <LinkTo 
            @route="projects"
            class="item"
        >
            Projects
        </LinkTo>

        <LinkTo 
            @route="contact"
            class="item"
        >
            Contact
        </LinkTo>

</nav>

