<nav class="container">

    <LinkTo @route="index">
        Home
    </LinkTo>

    <LinkTo @route="projects">
        Projects
    </LinkTo>

    <LinkTo @route="contact">
        Contact
    </LinkTo>

</nav>

