.project {
  display: flex;
}

.preview,
.background {
  border-radius: 5px;

  height: 250px;
  width: 200px;

  object-fit: cover;
}

.preview {
  opacity: 0.35;
}

.info-block {
  position: absolute;
  z-index: 2;
  color: whitesmoke;

  height: 236px;
  width: 186px;

  padding: 7px;
  overflow-x: hidden;
}

.title {
  color: inherit;
  font-size: larger;
  font-style: italic;
  text-decoration: underline;
}
