<div>

    <p>
        Contact me via the LinkedIn and Github links in 
        the footer, or fill out the form to send me a 
        message directly. 
        <br>
        I'll be in contact with you soon!
    </p>

    <Form/>
</div>