<div class="home">

    <img
        src="/assets/profile/kym_profile_nov2023_copy.jpg"
        class="profile-photo"
    >

    <div class="info">

        <div class="name">
            Kymberly Larson
        </div>
        

        <div>
            As a programmer and an artist, I love finding new 
            ways to tell stories! I seek to remove all of the tedious, 
            repetitive tasks by creating automated pipelines. Though I 
            do tend to favor more technical jobs, I'm always eager 
            to expand my skill set and tackle challenging problems. 
            
            <br><br>

            When I'm not at my desk working, you'll 
            find me reading a book or 
            outside skating at the rinks!

        </div>

        <a 
            class='button'
            href='/assets/documents/Resume (2).pdf'
            download="kymberlys_resume.pdf"
        >
            Download Resume
        </a>

    </div>


</div>