<div class="home">

    <img
        src="/assets/profile/kym_profile_nov2023_copy.jpg"
        class="profile-photo"
        alt="Personal Photo"
    >

    <div class="info">

        <div class="name">
            Kyz Larson
        </div>
        

        <div>
            As a programmer and an artist, I love finding new 
            ways to tell stories! I seek to remove all of the tedious, 
            repetitive tasks by creating automated pipelines. I plan 
            on building my own themed attractions and exploring the 
            interactive possibilities of technology. 
            
            <br><br>

            I love to create things, and when I'm not coding you'll 
            find me designing and sewing my own clothes, making little 
            toys, or writing and drawing. 

        </div>

        <a 
            class='button'
            href='/assets/documents/KyzResume.pdf'
            download="kyz_resume.pdf"
        >
            Download Resume
        </a>

    </div>


</div>